# Recommendation Engine

In this tutorial we are going to build a simple recommender system using collaborative filtering.

## 1. The import statements

In [1]:
import numpy as np
import pandas as pd
import sklearn.metrics.pairwise

## 2. The data

We will use Germany's data of the [Last.fm Dataset](https://labrosa.ee.columbia.edu/millionsong/lastfm). To read and explore the data we will use the [pandas library](https://pandas.pydata.org/):
+ [`pandas.read_csv`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html): reads a csv file and returns a [`pandas.DataFrame`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html), a two-dimensional data structure with labeled rows and columns.
+ [`pandas.DataFrame.set_index`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html): sets the DataFrame index (the row labels).

Pandas enables the use of method chaining: *read_csv* call returns a DataFrame, on which we can immediatly apply the *set_index* method by chaining it via dot notation.

In [2]:
data = pd.read_csv('data/lastfm-matrix-germany.csv').set_index('user')
data.head()

,a perfect circle,abba,ac/dc,adam green,aerosmith,afi,air,alanis morissette,alexisonfire,alicia keys,...,timbaland,tom waits,tool,tori amos,travis,trivium,u2,underoath,volbeat,yann tiersen
user,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
data.shape

(1257, 285)

The resulting DataFrame contains a row for each user and each column represents an artist. The values indicate whether the user listend to a song by that artist (1) or not (0). Note that the number of times a person listened to a specific artist is not listed.

## 3. Determining artist similarity

We want to figure out which artist to recommend to which user. Since we know which user listened to which artists we can look for artists or users that are similar. Humans can have vastly complex listening preferences and are very hard to group. Artists on the other hand are usually much easier to group. So it is best to look for similarities between artists rather than between users.

To determine if two artists are similar, you can use many different similarity metrics. Finding the best metric is a whole research topic on its own. In many cases though the [cosine similarity](https://en.wikipedia.org/wiki/Cosine_similarity) is used. The implementation we will use here is the [`sklearn.metrics.pairwise.cosine_similarity`](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.pairwise.cosine_similarity.html).

In [4]:
### BEGIN SOLUTION
similarity_matrix = sklearn.metrics.pairwise.cosine_similarity(data.T)
### END SOLUTION
# similarity_matrix = sklearn.metrics.pairwise.cosine_similarity( ? )

assert similarity_matrix.shape == (285, 285)
print(type(similarity_matrix))
print(similarity_matrix.ndim)

<class 'numpy.ndarray'>
2

The *cosine_similarity* function returned a 2-dimensional [`numpy array`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.html). This array contains all the similarity values we need, but it is not labelled. Since the entire array will not fit the screen, we will use [`slicing`](https://docs.scipy.org/doc/numpy/reference/arrays.indexing.html) to print a subset of the result.

In [5]:
similarity_matrix[:5, :5]

array([[1.        , 0.        , 0.01791723, 0.05155393, 0.06277648],
       [0.        , 1.        , 0.05227877, 0.02507061, 0.06105625],
       [0.01791723, 0.05227877, 1.        , 0.11315371, 0.177153  ],
       [0.05155393, 0.02507061, 0.11315371, 1.        , 0.05663655],
       [0.06277648, 0.06105625, 0.177153  , 0.05663655, 1.        ]])

The artist names are both the row and column labels for the similarity_matrix. We can add these labels by creating a new DataFrame based on the numpy array. By using the [`pandas.DataFrame.iloc`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html) integer-location based indexer, we get the same slice as above, but with added labels.

In [6]:
### BEGIN SOLUTION
artist_similarities = pd.DataFrame(similarity_matrix, index=data.columns, columns=data.columns)
### END SOLUTION
# artist_similarities = pd.DataFrame( ? , index=data.columns, columns= ? )

assert np.array_equal(artist_similarities.columns, data.columns)
assert artist_similarities.shape == similarity_matrix.shape

artist_similarities.iloc[:5, :5]

                  a perfect circle      abba     ac/dc  adam green  aerosmith
a perfect circle          1.000000  0.000000  0.017917    0.051554   0.062776
abba                      0.000000  1.000000  0.052279    0.025071   0.061056
ac/dc                     0.017917  0.052279  1.000000    0.113154   0.177153
adam green                0.051554  0.025071  0.113154    1.000000   0.056637
aerosmith                 0.062776  0.061056  0.177153    0.056637   1.000000

Pandas also provides a label based indexer, [`pandas.DataFrame.loc`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html#pandas.DataFrame.loc), which we can use to get a slice based on label values.

In [10]:
slice_artists = ['ac/dc', 'madonna', 'metallica', 'rihanna', 'the white stripes']

artist_similarities.loc[slice_artists, slice_artists]

                      ac/dc   madonna  metallica   rihanna  the white stripes
ac/dc              1.000000  0.028330   0.268300  0.024813           0.146223
madonna            0.028330  1.000000   0.054554  0.234604           0.013167
metallica          0.268300  0.054554   1.000000  0.066895           0.160904
rihanna            0.024813  0.234604   0.066895  1.000000           0.046130
the white stripes  0.146223  0.013167   0.160904  0.046130           1.000000

As you can see above, bands are 100% similar to themselves and The White Stripes are nothing like Abba. 

We can further increase the usability of this data by making it a [tidy dataset](https://en.wikipedia.org/wiki/Tidy_data). This means we'll put each variable in a column, and each observation in a row. There's three variables in our dataset:
+ first artist
+ second artist
+ cosine similarity

In our current DataFrame the second artist is determined by the column labels, and as consequence the cosine similarity observation is spread over multiple columns. The [`pandas.DataFrame.melt`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.melt.html) method will fix this.

In [11]:
similarities = (
    # start from wide DataFrame
    artist_similarities
    # add a name to the index
    .rename_axis(index='artist')
    # artist needs to be a column for melt
    .reset_index()
    # create the tidy dataset
    .melt(id_vars='artist', var_name='compared_with', value_name='cosine_similarity')
    # artist compared with itself not needed, keep rows where artist and compared_with are not equal.
    .query('artist != compared_with')
    # set identifying observations to index
    .set_index(['artist', 'compared_with'])
    # sort the index
    .sort_index()
)

To view the first n rows, we can use the [`pandas.DataFrame.head`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html) method, the default value for n is 5.

In [12]:
similarities.head()

                                cosine_similarity
artist           compared_with
a perfect circle abba                    0.000000
                 ac/dc                   0.017917
                 adam green              0.051554
                 aerosmith               0.062776
                 afi                     0.000000

Note that we created a [`MultiIndex`](https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html#advanced-hierarchical) by specifying two columns in the set_index call.

In [13]:
similarities.index

MultiIndex([('a perfect circle',              'abba'),
            ('a perfect circle',             'ac/dc'),
            ('a perfect circle',        'adam green'),
            ('a perfect circle',         'aerosmith'),
            ('a perfect circle',               'afi'),
            ('a perfect circle',               'air'),
            ('a perfect circle', 'alanis morissette'),
            ('a perfect circle',      'alexisonfire'),
            ('a perfect circle',       'alicia keys'),
            ('a perfect circle',  'all that remains'),
            ...
            (    'yann tiersen',  'three days grace'),
            (    'yann tiersen',         'timbaland'),
            (    'yann tiersen',         'tom waits'),
            (    'yann tiersen',              'tool'),
            (    'yann tiersen',         'tori amos'),
            (    'yann tiersen',            'travis'),
            (    'yann tiersen',           'trivium'),
            (    'yann tiersen',                'u2'),
            (    'yann tiersen',         'underoath'),
            (    'yann tiersen',           'volbeat')],
           names=['artist', 'compared_with'], length=80940)

The use of the MultiIndex enables flexible access to the data. If we index with a single artist name, we get all compared artists. To view the last n rows for this result, we can use the [`pandas.DataFrame.tail`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html#pandas.DataFrame.tail) method.

In [14]:
similarities.loc['the beatles', :].tail()

               cosine_similarity
compared_with
trivium                 0.028837
u2                      0.139252
underoath               0.000000
volbeat                 0.040600
yann tiersen            0.151911

We can index on multiple levels by providing a tuple of indexes:

In [15]:
similarities.loc[('abba', 'madonna'), :]

cosine_similarity    0.241656
Name: (abba, madonna), dtype: float64

In [16]:
print(slice_artists)
similarities.loc[('abba', slice_artists), :]

['ac/dc', 'madonna', 'metallica', 'rihanna', 'the white stripes']

                          cosine_similarity
artist compared_with
abba   ac/dc                       0.052279
       madonna                     0.241656
       metallica                   0.067116
       rihanna                     0.134690
       the white stripes           0.000000

## 4. Picking the best matches

Even though many of the artists above have a similarity close to 0, there might be some artists that seem to be slightly similar because somebody with a complex taste listened to them both. To remove this noise from the dataset we are going to limit the number of matches.

Let's first try this with the first artist in the list: *a perfect circle*.

In [17]:
artist = 'a perfect circle'
n_artists = 10
### BEGIN SOLUTION
top_n = similarities.loc[artist, :].sort_values('cosine_similarity').tail(n_artists)
### END SOLUTION
# top_n = similarities.loc[?, :].sort_values('cosine_similarity') ?
print(top_n)

assert len(top_n) == 10
assert type(top_n) == pd.DataFrame

                       cosine_similarity
compared_with
radiohead                       0.173384
the smashing pumpkins           0.174456
opeth                           0.187083
system of a down                0.199205
incubus                         0.200839
nine inch nails                 0.214669
porcupine tree                  0.223607
deftones                        0.323669
dredg                           0.347440
tool                            0.394709

We can transform the task of getting the most similar bands for a given band to a function.

In [18]:
def most_similar_artists(artist, n_artists=10):
    """Get the most similar artists for a given artist.
    
    Parameters
    ----------
    artist: str
        The artist for which to get similar artists
    n_artists: int, optional
        The number of similar artists to return
    
    Returns
    -------
    pandas.DataFrame
        A DataFrame with the similar artists and their cosine_similarity to
        the given artist
    """
    ### BEGIN SOLUTION
    return similarities.loc[artist, :].sort_values('cosine_similarity').tail(n_artists)
    ### END SOLUTION
    # return similarities.loc[ ? ].sort_values( ? ) ?

print(most_similar_artists('a perfect circle'))

assert top_n.equals(most_similar_artists('a perfect circle'))
assert most_similar_artists('abba', n_artists=15).shape == (15, 1)

                       cosine_similarity
compared_with
radiohead                       0.173384
the smashing pumpkins           0.174456
opeth                           0.187083
system of a down                0.199205
incubus                         0.200839
nine inch nails                 0.214669
porcupine tree                  0.223607
deftones                        0.323669
dredg                           0.347440
tool                            0.394709

## 5. Get the listening history

To quantify the recommendation score for an artist, we'll want to know whether a user listened to many similar artists. We know which artists are similar to a given artist, but we still need to figure out if any of these similar artists are in the listening history of the user. The index labels for a DataFrame can be retrieved by using the [`pandas.DataFrame.index`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.index.html) attribute.

In [19]:
artist = 'the beatles'
beatles
### BEGIN SOLUTION
similar_labels = most_similar_artists(artist).index
### END SOLUTION
# similar_labels = most_similar_artists( ? ). ?

Index(['oasis', 'ac/dc', 'johnny cash', 'david bowie', 'tom waits',
       'pink floyd', 'bob dylan', 'the rolling stones',
       'red hot chili peppers', 'the doors'],
      dtype='object', name='compared_with')

In [244]:
def most_similar_bands_history(band, user_id):
    similar_bands = most_similar_bands(band)
    history = data.loc[user_id, similar_bands.index].rename('listening_history')
    return pd.concat([similar_bands, history], axis=1)

example = most_similar_bands_history('abba', 42)

assert example.columns.to_list() == ['cosine_similarity', 'listening_history']

example

                 cosine_similarity  listening_history
compared_band
madonna                   0.241656                  0
robbie williams           0.205398                  0
elvis presley             0.191799                  0
michael jackson           0.187885                  0
queen                     0.179427                  0
the beatles               0.173025                  0
kelly clarkson            0.164399                  0
groove coverage           0.161206                  1
duffy                     0.150075                  0
mika                      0.140971                  0

## 6. Find which artists to advise.

Now that we can easily find which artists are similar, we have to figure out which artists to advise to whom. To do this we need to determine how the listening history of a user matches that of artists they didn't listen to yet. For this we will use the following similarity score:

In [72]:
# Function to compute the similarity scores
def similarity_score(listening_history, similarities):
    return sum(listening_history * similarities) / sum(similarities)

For each band we sum the similarities of bands the user also listened to. In the end we divide by the total sum of similarities to normalise the score.

So let's say a user listened to 1 of 3 bands that are similar, for example `[0, 1, 0]` and there respective similarity scores are `[0.3, 0.2, 0.1]` you get the following score:

In [73]:
listening_history = np.array([0, 1, 0]) 
similarities = np.array([0.3, 0.2, 0.1])
print(f'{similarity_score(listening_history, similarities):.3f}')

0.333

Now let's compute the score for each band for user with ID 1.

In [274]:
user = 42

# a list of all the scores
scores = []

for band_index in range(len(band_similarities.columns)):
    band = band_similarities.columns[band_index]
    
    # For bands the user already listened to we set the score to 0
    if data.loc[user, band] == 1:
        scores.append(0)
    else:
        # Most similar bands to this one
### BEGIN SOLUTION
        most_similar_band_names = band_similarities.loc[band].sort_values(ascending=False)[1:n_best].index
### END SOLUTION
        # most_similar_band_names = band_similarities.loc[band].sort_values(ascending= ? ) ?
        # Get the similarity score of these bands
### BEGIN SOLUTION
        most_similar_band_scores = band_similarities.loc[band].sort_values(ascending=False)[1:n_best]
### END SOLUTION
        # most_similar_band_scores = band_similarities.loc[band].sort_values(ascending= ? ) ?
        # Get the listening history for these bands
        user_listening_history = data.loc[user, most_similar_band_names]

        scores.append(similarity_score(user_listening_history, most_similar_band_scores))

C:\Users\z301531\environments\development\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in double_scalars
  This is separate from the ipykernel package so we can avoid doing imports until

3.75 s Â± 156 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

Now let's make a nice print of the top 5 bands to advice to this user:

In [75]:
print(f'For user with id {user} we advice:')
pd.DataFrame(scores, index=band_similarities.columns).sort_values(0, ascending=False).head()

For user with id 1 we advice:

                       0
flogging molly  0.364458
coldplay        0.343200
aerosmith       0.290306
the beatles     0.239779
mando diao      0.225930

Now try this also for other users.

In [153]:
most_similar_bands('abba').merge(data.loc[42, :], left_index=True, right_index=True)

                 cosine_similarity  42
madonna                   0.241656   0
robbie williams           0.205398   0
elvis presley             0.191799   0
michael jackson           0.187885   0
queen                     0.179427   0
the beatles               0.173025   0
kelly clarkson            0.164399   0
groove coverage           0.161206   1
duffy                     0.150075   0
mika                      0.140971   0

In [218]:
most_similar_bands('abba')

                 cosine_similarity
compared_band
madonna                   0.241656
robbie williams           0.205398
elvis presley             0.191799
michael jackson           0.187885
queen                     0.179427
the beatles               0.173025
kelly clarkson            0.164399
groove coverage           0.161206
duffy                     0.150075
mika                      0.140971

In [282]:
def similarity_score(band, user_id):
    df = most_similar_bands_history(band, user_id)
    return df.product(axis=1).sum(axis=0) / df['cosine_similarity'].sum()

assert np.allclose(similarity_score('abba', 42), 0.08976655361839528)
assert np.allclose(similarity_score('the white stripes', 1), 0.09492796371597861)

similarity_score('abba', 42)

0.08976655361839528

In [283]:
%%timeit
similarity_score('abba', 42)

6.64 ms Â± 157 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

In [284]:
history = data.loc[42, :]
history.loc[history == 0]

a perfect circle    0
abba                0
ac/dc               0
adam green          0
aerosmith           0
                   ..
trivium             0
u2                  0
underoath           0
volbeat             0
yann tiersen        0
Name: 42, Length: 278, dtype: int64

In [285]:
def unknown_artists(user_id):
    history = data.loc[user_id, :]
    return history.loc[history == 0].index

example = unknown_artists(42)

example

Index(['a perfect circle', 'abba', 'ac/dc', 'adam green', 'aerosmith', 'afi',
       'air', 'alanis morissette', 'alexisonfire', 'alicia keys',
       ...
       'timbaland', 'tom waits', 'tool', 'tori amos', 'travis', 'trivium',
       'u2', 'underoath', 'volbeat', 'yann tiersen'],
      dtype='object', length=278)

In [286]:
user_id = 42
scores = pd.DataFrame(
    [{'band': band, 'score': similarity_score(band, user_id)} for band in unknown_artists(user_id)]
)

In [287]:
def score_unknown_artists(user_id):
    artists = unknown_artists(user_id)
    return [{'artist': artist, 'score': similarity_score(artist, user_id)} for artist in artists]

In [288]:
def recommendations(user_id, n_rec=5):
    scores = score_unknown_artists(user_id)
    return pd.DataFrame(scores).sort_values('score', ascending=False).head(n_rec).reset_index(drop=True)

In [289]:
recommendations(42)

           artist     score
0          oomph!  0.426284
1     lacuna coil  0.352066
2       rammstein  0.296665
3      schandmaul  0.243382
4  sonata arctica  0.229894

In [291]:
recommendations(1)

           artist     score
0  flogging molly  0.332939
1        coldplay  0.311746
2       aerosmith  0.266175
3     the beatles  0.218716
4            moby  0.217263

In [272]:
%%timeit
recommendations(42)

2.26 s Â± 173 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [267]:
%prun recommendations(42)

         1433161 function calls (1413378 primitive calls) in 2.815 seconds

   Ordered by: internal time

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
   212718    0.141    0.000    0.315    0.000 {built-in method builtins.isinstance}
   144473    0.134    0.000    0.143    0.000 {built-in method builtins.getattr}
    92606    0.082    0.000    0.172    0.000 generic.py:7(_check)
     6401    0.074    0.000    0.074    0.000 {method 'reduce' of 'numpy.ufunc' objects}
93597/74652    0.050    0.000    0.074    0.000 {built-in method builtins.len}
     1394    0.049    0.000    0.120    0.000 managers.py:216(_rebuild_blknos_and_blklocs)
    18927    0.045    0.000    0.078    0.000 abc.py:180(__instancecheck__)
    17584    0.035    0.000    0.193    0.000 base.py:231(is_dtype)
    15610    0.035    0.000    0.071    0.000 common.py:1886(_is_dtype_type)
    29504    0.034    0.000    0.034    0.000 _weakrefset.py:70(__contains__)
  837/559    0.030    0.000    0.210    0.000 base.py:277(__new__)
    11991    0.029    0.000    0.080    0.000 common.py:1743(is_extension_array_dtype)
     6691    0.028    0.000    0.070    0.000 {pandas._libs.lib.is_scalar}
     1947    0.027    0.000    0.143    0.000 missing.py:219(_isna_ndarraylike)
    24545    0.027    0.000    0.028    0.000 {built-in method builtins.hasattr}
    11992    0.026    0.000    0.036    0.000 dtypes.py:83(find)
    56640    0.025    0.000    0.025    0.000 {built-in method builtins.issubclass}
     5848    0.024    0.000    0.049    0.000 generic.py:5181(__setattr__)
     5017    0.024    0.000    0.024    0.000 {built-in method numpy.empty}
     2244    0.023    0.000    0.059    0.000 {method 'format' of 'str' objects}
     1672    0.023    0.000    0.259    0.000 series.py:197(__init__)
     4190    0.022    0.000    0.057    0.000 _dtype.py:319(_name_get)
      836    0.020    0.000    0.034    0.000 {pandas._libs.lib.infer_dtype}
    10576    0.019    0.000    0.054    0.000 {pandas._libs.lib.is_list_like}
     3348    0.019    0.000    0.050    0.000 blocks.py:120(__init__)
5584/5582    0.019    0.000    0.021    0.000 {built-in method numpy.array}
     5293    0.018    0.000    0.053    0.000 managers.py:167(shape)
      278    0.018    0.000    0.550    0.002 concat.py:266(__init__)
     3348    0.018    0.000    0.147    0.000 blocks.py:3258(make_block)
      558    0.018    0.000    0.115    0.000 algorithms.py:1608(take_nd)
     2787    0.018    0.000    0.041    0.000 base.py:569(_simple_new)
     2227    0.017    0.000    0.075    0.000 base.py:634(_shallow_copy)
     2784    0.015    0.000    0.034    0.000 _ufunc_config.py:39(seterr)
      836    0.015    0.000    0.569    0.001 generic.py:3615(xs)
     4456    0.014    0.000    0.018    0.000 generic.py:413(_get_axis_name)
     2505    0.014    0.000    0.146    0.000 common.py:99(is_bool_indexer)
    16713    0.014    0.000    0.018    0.000 base.py:723(__len__)
     4190    0.013    0.000    0.035    0.000 numerictypes.py:365(issubdtype)
     3066    0.013    0.000    0.013    0.000 generic.py:162(__init__)
     2793    0.013    0.000    0.025    0.000 common.py:255(is_sparse)
      279    0.013    0.000    0.106    0.000 managers.py:1726(form_blocks)
      556    0.013    0.000    0.124    0.000 nanops.py:239(_get_values)
      279    0.012    0.000    0.069    0.000 sorting.py:237(nargsort)
      278    0.012    0.000    0.045    0.000 base.py:1627(droplevel)
     1676    0.012    0.000    0.035    0.000 _dtype.py:46(__str__)
      836    0.012    0.000    0.962    0.001 indexing.py:1787(_getitem_axis)
      834    0.012    0.000    0.012    0.000 {built-in method pandas._libs.missing.isnaobj}
     1394    0.012    0.000    0.239    0.000 managers.py:126(__init__)
     1672    0.012    0.000    0.074    0.000 managers.py:1470(__init__)
     2505    0.012    0.000    0.203    0.000 missing.py:128(_isna_new)
      834    0.012    0.000    0.289    0.000 nanops.py:62(_f)
      556    0.012    0.000    0.016    0.000 {method 'get_indexer' of 'pandas._libs.index.IndexEngine' objects}
     8380    0.012    0.000    0.021    0.000 numerictypes.py:293(issubclass_)
     2784    0.012    0.000    0.013    0.000 _ufunc_config.py:139(geterr)
     1119    0.012    0.000    0.094    0.000 blocks.py:3212(get_block_type)
     2235    0.012    0.000    0.012    0.000 {built-in method numpy.arange}
     4734    0.011    0.000    0.016    0.000 generic.py:400(_get_axis_number)
     1394    0.011    0.000    0.350    0.000 frame.py:397(__init__)
     3058    0.011    0.000    0.016    0.000 multi.py:1187(_get_names)
     2227    0.011    0.000    0.042    0.000 {built-in method numpy.core._multiarray_umath.implement_array_function}
     3348    0.010    0.000    0.019    0.000 blocks.py:243(mgr_locs)
     3906    0.010    0.000    0.053    0.000 dtypes.py:912(is_dtype)
      279    0.010    0.000    0.010    0.000 {method 'argsort' of 'numpy.ndarray' objects}
     8368    0.010    0.000    0.101    0.000 common.py:539(is_datetime64tz_dtype)
      556    0.010    0.000    0.013    0.000 numerictypes.py:578(_can_coerce_all)
      556    0.010    0.000    0.042    0.000 multi.py:1190(_set_names)
      834    0.010    0.000    0.028    0.000 nanops.py:1187(_maybe_null_out)
     1672    0.010    0.000    0.023    0.000 series.py:419(_set_axis)
      278    0.010    0.000    0.860    0.003 <ipython-input-149-17a6eaa477b3>:1(most_similar_bands)
      556    0.010    0.000    0.243    0.000 series.py:4054(_reduce)
      836    0.010    0.000    0.045    0.000 cast.py:298(maybe_promote)
    15601    0.010    0.000    0.034    0.000 managers.py:169(<genexpr>)
      279    0.010    0.000    0.328    0.001 frame.py:4977(sort_values)
 1393/837    0.010    0.000    1.134    0.001 indexing.py:1410(__getitem__)
     2228    0.010    0.000    0.022    0.000 indexers.py:13(is_list_like_indexer)
     2504    0.009    0.000    0.042    0.000 common.py:1619(is_bool_dtype)
      556    0.009    0.000    0.055    0.000 base.py:2957(get_indexer)
      557    0.009    0.000    0.210    0.000 managers.py:739(get_slice)
     7512    0.009    0.000    0.009    0.000 {method 'view' of 'numpy.ndarray' objects}
     8075    0.009    0.000    0.012    0.000 common.py:1850(_get_dtype)
    12823    0.009    0.000    0.013    0.000 common.py:211(<lambda>)
     3345    0.009    0.000    0.032    0.000 common.py:508(is_datetime64_dtype)
      278    0.008    0.000    0.071    0.000 managers.py:826(_interleave)
      557    0.008    0.000    1.014    0.002 indexing.py:901(_getitem_lowerdim)
      558    0.008    0.000    0.023    0.000 algorithms.py:1481(_get_take_nd_function)
      279    0.008    0.000    0.014    0.000 indexers.py:161(maybe_convert_indices)
      557    0.008    0.000    0.111    0.000 frame.py:2964(__getitem__)
      560    0.008    0.000    0.096    0.000 construction.py:630(sanitize_array)
     6711    0.008    0.000    0.022    0.000 <frozen importlib._bootstrap>:997(_handle_fromlist)
     3058    0.008    0.000    0.010    0.000 frozen.py:78(__getitem__)
      559    0.008    0.000    0.008    0.000 {method 'take' of 'numpy.ndarray' objects}
      278    0.008    0.000    2.215    0.008 <ipython-input-244-c7ebd9ee4442>:1(most_similar_bands_history)
     2509    0.008    0.000    0.008    0.000 generic.py:5162(__getattr__)
     2514    0.008    0.000    0.035    0.000 dtypes.py:1092(is_dtype)
      834    0.008    0.000    0.510    0.001 generic.py:11546(stat_func)
     4456    0.008    0.000    0.030    0.000 generic.py:426(_get_axis)
     1395    0.008    0.000    0.025    0.000 base.py:4262(__getitem__)
      556    0.008    0.000    0.156    0.000 multi.py:1990(__getitem__)
      278    0.008    0.000    2.793    0.010 <ipython-input-254-508e12ba942a>:1(similarity_score)
     4748    0.007    0.000    0.010    0.000 common.py:2020(pandas_dtype)
     5288    0.007    0.000    0.014    0.000 base.py:3901(values)
     1671    0.007    0.000    0.007    0.000 {method 'get_loc' of 'pandas._libs.index.IndexEngine' objects}
      279    0.007    0.000    0.007    0.000 {pandas._libs.algos.take_2d_axis0_float64_float64}
      836    0.007    0.000    0.023    0.000 managers.py:340(_verify_integrity)
     8076    0.007    0.000    0.009    0.000 managers.py:171(ndim)
      278    0.007    0.000    0.127    0.000 concat.py:430(get_result)
      557    0.007    0.000    0.027    0.000 managers.py:971(iget)
     1394    0.007    0.000    0.075    0.000 managers.py:654(_consolidate_check)
     1670    0.007    0.000    0.007    0.000 {method 'copy' of 'numpy.ndarray' objects}
     8078    0.007    0.000    0.009    0.000 base.py:5707(ensure_index)
      834    0.007    0.000    0.021    0.000 multi.py:1288(_get_level_number)
     2509    0.007    0.000    0.057    0.000 blocks.py:267(make_block_same_class)
        1    0.007    0.007    2.800    2.800 <ipython-input-261-5e1b2cc43d88>:3(<listcomp>)
    12823    0.007    0.000    0.007    0.000 common.py:209(classes)
     2786    0.007    0.000    0.012    0.000 series.py:456(name)
      557    0.007    0.000    0.233    0.000 generic.py:3364(_slice)
      279    0.007    0.000    0.012    0.000 numeric.py:2299(array_equal)
      556    0.007    0.000    0.121    0.000 multi.py:232(__new__)
      278    0.006    0.000    0.105    0.000 indexing.py:1042(_get_listlike_indexer)
      558    0.006    0.000    0.021    0.000 blocks.py:319(getitem_block)
     3342    0.006    0.000    0.041    0.000 {method 'any' of 'numpy.ndarray' objects}
     4452    0.006    0.000    0.011    0.000 generic.py:510(ndim)
      558    0.006    0.000    0.139    0.000 blocks.py:1293(take_nd)
     2792    0.006    0.000    0.019    0.000 common.py:225(is_object_dtype)
     3617    0.006    0.000    0.047    0.000 {built-in method builtins.any}
     3065    0.006    0.000    0.023    0.000 common.py:577(is_timedelta64_dtype)
      557    0.006    0.000    0.014    0.000 indexing.py:1727(_is_scalar_access)
      278    0.006    0.000    0.006    0.000 {pandas._libs.algos.take_1d_int64_int64}
      560    0.006    0.000    0.014    0.000 cast.py:866(maybe_castable)
      278    0.006    0.000    0.034    0.000 concat.py:33(get_dtype_kinds)
      278    0.006    0.000    0.259    0.001 frame.py:7895(_reduce)
      557    0.006    0.000    0.225    0.000 managers.py:1224(reindex_indexer)
     1676    0.006    0.000    0.064    0.000 blocks.py:347(ftype)
     3906    0.005    0.000    0.059    0.000 common.py:608(is_period_dtype)
      278    0.005    0.000    0.101    0.000 managers.py:2020(concatenate_block_managers)
    10861    0.005    0.000    0.005    0.000 {method 'get' of 'dict' objects}
     2785    0.005    0.000    0.011    0.000 base.py:613(_get_attributes_dict)
      278    0.005    0.000    0.138    0.000 generic.py:4552(_reindex_with_indexers)
     3614    0.005    0.000    0.011    0.000 nanops.py:65(<genexpr>)
     2507    0.005    0.000    0.008    0.000 series.py:463(name)
      279    0.005    0.000    0.012    0.000 base.py:1803(is_unique)
      556    0.005    0.000    0.020    0.000 concat.py:28(get_mgr_concatenation_plan)
      835    0.005    0.000    0.023    0.000 common.py:240(asarray_tuplesafe)
      278    0.005    0.000    0.013    0.000 indexing.py:1138(_validate_read_indexer)
      557    0.005    0.000    0.087    0.000 generic.py:3265(_get_item_cache)
     5012    0.005    0.000    0.007    0.000 inference.py:386(is_hashable)
     2782    0.005    0.000    0.025    0.000 common.py:1825(_is_dtype)
     9482    0.005    0.000    0.005    0.000 blocks.py:239(mgr_locs)
     1669    0.005    0.000    0.024    0.000 generic.py:5236(_protect_consolidate)
     1390    0.005    0.000    0.010    0.000 managers.py:203(_is_single_block)
      556    0.005    0.000    0.050    0.000 multi.py:666(_set_levels)
      556    0.005    0.000    0.005    0.000 {function FrozenNDArray.searchsorted at 0x0000018B3762E9D8}
      278    0.005    0.000    0.088    0.000 concat.py:497(_concat_index_asobject)
      279    0.005    0.000    0.073    0.000 generic.py:1731(_get_label_or_level_values)
     1672    0.005    0.000    0.013    0.000 common.py:1284(is_datetime_or_timedelta_dtype)
     2784    0.005    0.000    0.005    0.000 {built-in method numpy.seterrobj}
      556    0.004    0.000    0.166    0.000 nanops.py:469(nansum)
     1671    0.004    0.000    0.012    0.000 base.py:2888(get_loc)
      558    0.004    0.000    0.037    0.000 base.py:885(take)
      278    0.004    0.000    0.039    0.000 cast.py:1119(find_common_type)
      556    0.004    0.000    0.022    0.000 multi.py:790(_set_codes)
     2785    0.004    0.000    0.006    0.000 base.py:617(<dictcomp>)
     3633    0.004    0.000    0.038    0.000 common.py:678(is_categorical_dtype)
      278    0.004    0.000    0.409    0.001 indexing.py:965(_getitem_nested_tuple)
      280    0.004    0.000    0.012    0.000 managers.py:1854(_stack_arrays)
     3351    0.004    0.000    0.040    0.000 common.py:642(is_interval_dtype)
     1947    0.004    0.000    0.009    0.000 {pandas._libs.lib.values_from_object}
      835    0.004    0.000    0.004    0.000 {built-in method pandas._libs.lib.is_datetime_array}
      278    0.004    0.000    0.018    0.000 multi.py:2859(_get_level_indexer)
     1391    0.004    0.000    0.011    0.000 generic.py:5249(f)
     1671    0.004    0.000    0.011    0.000 common.py:951(is_integer_dtype)
4185/4183    0.004    0.000    0.017    0.000 _asarray.py:16(asarray)
     1672    0.004    0.000    0.008    0.000 generic.py:5145(__finalize__)
      556    0.004    0.000    0.015    0.000 fromnumeric.py:73(_wrapreduction)
      278    0.004    0.000    0.099    0.000 managers.py:1274(_slice_take_blocks_ax0)
      560    0.004    0.000    0.065    0.000 construction.py:759(_try_cast)
      279    0.004    0.000    0.019    0.000 managers.py:353(apply)
     8062    0.004    0.000    0.004    0.000 multi.py:1188(<genexpr>)
      278    0.004    0.000    0.324    0.001 indexing.py:1096(_getitem_iterable)
     1949    0.004    0.000    0.010    0.000 common.py:1585(is_float_dtype)
      557    0.004    0.000    0.016    0.000 indexing.py:276(_convert_slice_indexer)
      279    0.004    0.000    0.164    0.001 managers.py:1376(take)
      278    0.004    0.000    0.070    0.000 nanops.py:1083(nanprod)
      557    0.004    0.000    0.039    0.000 managers.py:942(get)
     1392    0.004    0.000    0.018    0.000 base.py:4377(equals)
     1112    0.004    0.000    0.133    0.000 _decorators.py:164(wrapper)
     1668    0.004    0.000    0.028    0.000 {method 'sum' of 'numpy.ndarray' objects}
     1668    0.004    0.000    0.016    0.000 multi.py:800(<genexpr>)
      278    0.004    0.000    0.170    0.001 multi.py:2720(get_loc_level)
     3348    0.004    0.000    0.004    0.000 blocks.py:131(_check_ndim)
     2788    0.004    0.000    0.004    0.000 {method 'fill' of 'numpy.ndarray' objects}
     1394    0.004    0.000    0.007    0.000 managers.py:132(<listcomp>)
      834    0.004    0.000    0.109    0.000 nanops.py:196(_maybe_get_mask)
      278    0.004    0.000    0.325    0.001 construction.py:216(init_dict)
      278    0.004    0.000    0.005    0.000 frame.py:508(shape)
     1668    0.004    0.000    0.041    0.000 multi.py:681(<genexpr>)
     3345    0.004    0.000    0.004    0.000 base.py:700(_reset_identity)
      280    0.004    0.000    0.008    0.000 _asarray.py:223(require)
      835    0.004    0.000    0.011    0.000 base.py:1884(is_all_dates)
      557    0.003    0.000    0.038    0.000 frame.py:3459(_box_item_values)
     1392    0.003    0.000    0.019    0.000 _ufunc_config.py:446(__exit__)
     3342    0.003    0.000    0.034    0.000 _methods.py:44(_any)
      835    0.003    0.000    0.071    0.000 indexing.py:1710(_validate_key)
      283    0.003    0.000    0.015    0.000 cast.py:986(maybe_cast_to_datetime)
      834    0.003    0.000    0.003    0.000 {built-in method pandas._libs.lib.is_bool_array}
      556    0.003    0.000    0.008    0.000 frozen.py:161(searchsorted)
      557    0.003    0.000    0.018    0.000 indexing.py:270(_convert_scalar_indexer)
      278    0.003    0.000    0.161    0.001 concat.py:489(_get_new_axes)
     4749    0.003    0.000    0.003    0.000 blocks.py:343(dtype)
      557    0.003    0.000    0.013    0.000 indexing.py:242(_is_nested_tuple_indexer)
     1112    0.003    0.000    0.008    0.000 base.py:1358(_set_names)
      279    0.003    0.000    0.057    0.000 managers.py:1837(_multi_blockify)
     1112    0.003    0.000    0.008    0.000 multi.py:1184(__len__)
     1672    0.003    0.000    0.003    0.000 {pandas._libs.algos.ensure_platform_int}
      557    0.003    0.000    0.005    0.000 base.py:3156(_convert_slice_indexer)
     1112    0.003    0.000    0.019    0.000 base.py:1390(set_names)
     1394    0.003    0.000    0.068    0.000 managers.py:655(<listcomp>)
     1116    0.003    0.000    0.043    0.000 common.py:1466(needs_i8_conversion)
      834    0.003    0.000    0.009    0.000 {built-in method builtins.sorted}
     1681    0.003    0.000    0.005    0.000 managers.py:1558(dtype)
      556    0.003    0.000    0.012    0.000 api.py:151(_union_indexes)
     1392    0.003    0.000    0.022    0.000 _ufunc_config.py:441(__enter__)
     2780    0.003    0.000    0.006    0.000 nanops.py:58(check)
     1112    0.003    0.000    0.010    0.000 frozen.py:188(_ensure_frozen)
     8340    0.003    0.000    0.003    0.000 multi.py:610(levels)
      278    0.003    0.000    0.138    0.000 multi.py:2761(maybe_droplevels)
     1115    0.003    0.000    0.004    0.000 generic.py:185(_init_mgr)
      278    0.003    0.000    0.679    0.002 concat.py:31(concat)
     1392    0.003    0.000    0.008    0.000 generic.py:430(_get_block_manager_axis)
     6682    0.003    0.000    0.003    0.000 {pandas._libs.lib.is_integer}
     1947    0.003    0.000    0.015    0.000 common.py:741(condition)
     2224    0.003    0.000    0.004    0.000 multi.py:1944(nlevels)
      837    0.003    0.000    0.003    0.000 base.py:4228(__contains__)
     1947    0.003    0.000    0.024    0.000 common.py:711(is_string_dtype)
      278    0.003    0.000    0.005    0.000 api.py:286(<setcomp>)
     1950    0.003    0.000    0.003    0.000 frame.py:491(axes)
      278    0.003    0.000    0.037    0.000 base.py:3364(reindex)
     1392    0.003    0.000    0.003    0.000 _ufunc_config.py:437(__init__)
     1116    0.003    0.000    0.004    0.000 managers.py:1585(internal_values)
     1114    0.003    0.000    0.005    0.000 generic.py:3384(_set_is_copy)
     1394    0.003    0.000    0.006    0.000 common.py:862(is_dtype_equal)
      557    0.003    0.000    0.027    0.000 frame.py:3466(_box_col_values)
     2505    0.003    0.000    0.206    0.000 missing.py:48(isna)
      557    0.003    0.000    0.254    0.000 indexing.py:1300(_get_slice_axis)
     5849    0.003    0.000    0.003    0.000 {built-in method builtins.hash}
     1671    0.003    0.000    0.004    0.000 indexing.py:1412(<genexpr>)
      279    0.003    0.000    0.160    0.001 managers.py:1691(create_block_manager_from_arrays)
     5568    0.003    0.000    0.003    0.000 {built-in method numpy.geterrobj}
      556    0.003    0.000    0.003    0.000 multi.py:2013(<listcomp>)
     1391    0.003    0.000    0.021    0.000 generic.py:5246(_consolidate_inplace)
     1952    0.003    0.000    0.004    0.000 managers.py:935(_consolidate_inplace)
      278    0.003    0.000    0.005    0.000 construction.py:331(extract_index)
      556    0.003    0.000    0.005    0.000 base.py:4821(_maybe_promote)
     2787    0.002    0.000    0.003    0.000 common.py:219(<lambda>)
      834    0.002    0.000    0.004    0.000 concat.py:438(combine_concat_plans)
     2507    0.002    0.000    0.003    0.000 common.py:352(apply_if_callable)

We only want to score the bands the user didn't listen to yet:

In [94]:
user = 1
test = data.loc[user, ~data.loc[user, :].astype(bool)]

In [95]:
test

a perfect circle    0
abba                0
ac/dc               0
adam green          0
aerosmith           0
                   ..
trivium             0
u2                  0
underoath           0
volbeat             0
yann tiersen        0
Name: 1, Length: 274, dtype: int64

In [93]:
~data.loc[user, :].astype(bool)

a perfect circle    True
abba                True
ac/dc               True
adam green          True
aerosmith           True
                    ...
trivium             True
u2                  True
underoath           True
volbeat             True
yann tiersen        True
Name: 1, Length: 285, dtype: bool